<div class="row">
  <div class="col-12">
    <button id="hide-roles" type="button" class="btn btn-primary">Hide Roles</button>
    <%= link_to 'Add Roles', new_role_path, class: 'btn btn-primary' %>
    <div id="list-of-roles" class="d-none">
      <h4>List of Roles</h4>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Role</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td>
              <%= role.name %>
            </td>
            <td>
              <%= check_box_tag 'status', role.status, true %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>

  </div>
</div>